body {
  background-image: url('https://64.media.tumblr.com/d6d0246ca0dffa230f03be2521b3210f/tumblr_obfjz6Bd9f1runoqyo2_r1_540.gifv');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100%;
  height: 100vh;

}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-family: 'Oswald', sans-serif;
}


#home {
  width: 100%;
  height: 100vh;
}

.profile {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 5rem;
  color: white;
}

.profile img {
  border-radius: 50%;
  border: 5px solid white;
}

#about {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.aboutme {
  height: auto;
  width: 95%;
  border: 3px solid black;
  color: black;
  border-radius: 5%;
  text-align: center;
  display: grid;
  padding: 40px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  font-size: 1.3rem;
  background-color: rgba(255, 255, 255, 0.5);
}


.aboutme hr {
  border: 2px solid black;
  width: 95%;
}




/* PROJECT SECTION  */


.pcards{
  height: 100vh;
  width: 90%;
  display: grid;
  grid-template-columns:auto auto  ;
  grid-template-rows: auto auto   ;
  margin: auto;
  justify-items: center;
}

.card{
  margin: 5%;
  background-color: black;
  border: 5px solid white;
  text-align: center;
  height: auto;
  width: auto;
}

.card a{
  color: white;
}
.card img{
  height: 90%;
   width: 100%;
    
}


/* CONTACT SECTION  */

#contact{
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.connect{
  text-align: center;

  color: white;
  height: auto;
  width: 100%;

}
.socials{
  margin: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}

.socials img{
  height: 10vh;
  width: 10vh;
}